////
/// Icons
/// @group Variables
////

// Icons (Fontello)
//----------------------------------------------
$icons: (
  twitterfooter:            "\e800",
  facebookfooter:           "\e803",
  youtubefooter:            "\e802",
  responsivemenu:           "\f0c9",
  mapmarker:                "\e805",
  phone:                    "\e801",
  email:                    "\e804"
);
