<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Intereses</title>
</head>
<body>
  <header>
    <h1>Editar Intereses</h1>
  </header>
  <main>
    <form action="" accept-charset="UTF-8">
    <div class="form-item">
      <label for="edit-description">Descripción</label>
      <textarea name="description" id="edit-description" cols="60" rows="5"></textarea>
    </div>
    <div class="form-item">
      <input id="edit-submit" name="op" value="Guardar" type="submit">
    </div>
  </form>
  </main>
</body>
</html>
