<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="../../css/style.css">
  <title>Administrar Intereses</title>
</head>
<body>
  <div class="l-page">
    <header class="l-header">
      <nav class="l-navigation">
        <ul class="admin-main-menu">
          <li><a href="login.html">Inicio</a>
          <li><a href="adminAcademicTraining.html">Administrar Formación</a></li>
          <li><a href="adminSelfInterests.html">Administrar Intereses</a></li>
          <li><a href="adminCurrentSemester.html">Administrar Semestre Actual</a></li>
          <li><a href="adminBriefcase.php">Administrar Portafolio</a></li>
          <li><a href="adminContact.html">Administrar Información Contacto</a></li>
          </ul>
      </nav>
    </header>
    <main class="l-main">
      <section>
        <h1>Administrar Intereses</h1>
      </section>
      <section>
        <article>
          <section>
              <h2>Lista de Títulos</h2>
              <a href="editSelfInterests.html">Agregar Interés</a>
              <table border="1" class="admin">
                <thead>
                  <tr>
                      <th>Título</th>
                      <th>Descripción</th>
                      <th>Imagen</th>
                      <th>Remover</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>
                          <a href="editSelfInterests.html">Deportes</a>
                      </td>
                      <td>Actividades físicas y deportes en conjunto</td>
                      <td>
                          <img src="../../img/sports.png">
                      </td>
                      <td>
                          <button>X</button>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <a href="editSelfInterests.html">Estudios</a>
                      </td>
                      <td>Desarrolo de software, tecnologías</td>
                      <td>
                          <img src="../../img/books.png">
                      </td>
                      <td>
                          <button>X</button>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <a href="editSelfInterests.html">Pasatiempos</a>
                      </td>
                      <td>Viajar y pasar tiempo en familia y amigos</td>
                      <td>
                          <img src="../../img/paradise.png">
                      </td>
                      <td>
                          <button>X</button>
                      </td>
                  </tr>
                </tbody>
              </table>
          </section>
        </article>
      </section>
    </main>
  </div>
</body>
</html>
