<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
	</head>
	<body>
		<header>
			<h1>Pagina Personal</h1>
			<h2>Marvin Cortés</h2>
		</header>
		<nav>
			<ul>
				<li><a href="adminAcademicTraining.html">Editar Formación</a></li>
				<li><a href="adminSelfInterests.html">Editar Intereses Personales</a></li>
				<li><a href="adminCurrentSemester.html">Editar Semestre Actual</a></li>
				<li><a href="adminProject.html">Editar Proyecto</a></li>
				<li><a href="adminContact.html">Editar Contácteme</a></li>
			</ul>
		</nav>
		<main>
			<article>
				<section>
					<p>Estudiante de Ingenieria en computación en el Tecnológico de Costarica.</p>
				</section>

			</article>
		</main>
		<aside>
			<a href="http://www.tec.ac.cr/">Tecnológico de Costa Rica</a>
		</aside>
		<footer>
			<p>Curso Web Verano</p>
		</footer>
	</body>
</html>
