<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Semestre Actual</title>
</head>
<body>
  <header>
    <h1>Editar Semestre Actual</h1>
  </header>
  <form action="" accept-charset="UTF-8">
  <fieldset>
    <div class="form-item">
      <label for="edit-modality">Modalidad</label>
      <input type="text" id="edit-modality" name="modality" value="Verano">
    </div>
    <div class="form-item">
      <label for="edit-year">Año</label>
      <input type="text" id="edit-year" name="year" value="2016">
    </div>
    <div class="form-item">
      <input id="edit-submit" name="edit" value="Guardar" type="submit">
    </div>
  </fieldset>
    
  </form>
  <a href="editCourse.html"> Agregar Curso</a>
</body>
</html>
