<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Formación</title>
</head>
<body>
<header>
  <h1>Editar Formación</h1>
</header>
  <form action="" accept-charset="UTF-8">
    <div class="form-item">
      <label for="edit-title">Título</label>
      <input type="text" id="edit-title" name="title">
    </div>
    <div class="form-item">
      <label for="edit-img">Imagen</label>
      <input type="file" id="edit-img" name="img">
      <input type="submit" id="upload" value="Subir al servidor" name="upload">
    </div>
    <div class="form-item">
      <label for="edit-description">Descripción</label>
      <textarea name="description" id="edit-description" cols="60" rows="5"></textarea>
    </div>
  </form>
</body>
</html>
