<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Administrar Protafolio</title>
</head>
<body>
  <main>
    <section>
      <h2>Agregar Nuevo Proyecto</h2>
        <a href="editProject.html">Agregar</a>
    </section>
    <section>
      <h2>Proyectos Desarrollados</h2>
      <table border="1">
          <tr>
              <th>Curso</th>
              <th>Nombre</th>
              <th>-</th>
          </tr>
          <tr>
              <td>WEB</td>
              <td>Portafolio</td>
              <td><a href="editProject.html">Editar</a></td>
          </tr>
      </table>
    </section>
  </main>
	
</body>
</html>