<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Semestre Actual</title>
</head>
<body>
  <header>
    <h1>Editar Semestre Actual</h1>
  </header>
  <form action="" accept-charset="UTF-8">
    <div class="form-item">
      <label for="edit-title">Títilo</label>
      <input type="text" id="edit-title" name="title">
    </div>
    <div class="form-item">
    <h2>Cursos</h2>
      <label for="edit-code">Código</label>
      <input type="text" id="edit-code" name="code">
      <label for="edit-name">Nombre</label>
      <input type="text" id="edit-name" name="name">
      <label for="edit-teacher">Profesor</label>
      <input type="text" id="edit-teacher" name="teacher">
      <label for="edit-schedule">Horario</label>
      <input type="text" id="edit-schedule" name="schedule">
    </div>
    <div class="form-item">
      <input id="edit-add-more" name="add more" value="Agregar otro" type="submit">
    </div>
    <div class="form-item">
      <input id="edit-submit" name="op" value="Guardar" type="submit">
    </div>
  </form>
</body>
</html>
