<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Editar Proyecto</title>
</head>
<body>
  <header>
    <h1>Editar Proyecto</h1>
  </header>
  <form action="" accept-charset="UTF-8">
    <div class="form-item">
      <label for="edit-name">Nombre</label>
      <input type="text" id="edit-name" name="name">
    </div>
    <div class="form-item">
      <label for="edit-course">Curso</label>
      <input type="text" id="edit-course" name="course">
    </div>
    <div class="form-item">
      <label for="edit-summary">Resumen</label>
      <textarea name="summary" id="edit-summary" cols="60" rows="5"></textarea>
    </div>
    <div class="form-item">
      <label for="edit-description">Descripción</label>
      <textarea name="description" id="edit-description" cols="60" rows="5"></textarea>
    </div>
    <div class="form-item">
      <label for="edit-project-type">Tipo de Proyecto</label>
      <input type="text" id="edit-project-type" name="project-type">
    </div>
    <div class="form-item">
      <label for="edit-metodology">Forma de Trabajo</label>
      <input type="text" id="edit-metodology" name="metodology">
    </div>
    <div class="form-item">
      <label for="edit-technologies">Tecnologías utilizadas</label>
      <textarea name="technologies" id="edit-technologies" cols="60" rows="5"></textarea>
    </div>


    <div class="form-item">
      <input id="edit-submit" name="op" value="Guardar" type="submit">
    </div>
  </form>
</body>
</html>
