<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Index</title>
	</head>
	<body>
		<div class="l-page">
	    <header class="l-header">
	      <nav class="l-navigation">
	        <ul class="admin-main-menu">
	          <li><a href="login.html">Inicio</a>
	          <li><a href="adminAcademicTraining.html">Administrar Formación</a></li>
	          <li><a href="adminSelfInterests.html">Administrar Intereses</a></li>
	          <li><a href="adminCurrentSemester.html">Administrar Semestre Actual</a></li>
	          <li><a href="adminBriefcase.php">Administrar Portafolio</a></li>
	          <li><a href="adminContact.html">Administrar Información Contacto</a></li>
	          </ul>
	      </nav>
	    </header>
			<main class="l-main">
				<article>
					<section>
						<p>Estudiante de Ingenieria en computación en el Tecnológico de Costarica.</p>
					</section>

				</article>
			</main>
			<aside>
				<a href="http://www.tec.ac.cr/">Tecnológico de Costa Rica</a>
			</aside>
			<footer>
				<p>Curso Web Verano</p>
			</footer>
		</div>
	</body>
</html>
