<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <header>
    <h1>Iniciar Sesión</h1>
  </header>

  <main>
    <article>
      <form action="" accept-charset="UTF-8">
        <div class="form-item">
          <label for="edit-name">Nombre de usuario</label>
          <input id="edit-name" name="name" type="text">
        </div>
        <div class="form-item">
          <label for="edit-pass">Contraseña</label>
          <input id="edit-pass" name="password" type="password">
        </div>
        <div class="form-item">
          <input id="edit-submit" name="submit" value="Iniciar sesión" type="submit">
        </div>
      </form>
    </article>
  </main>
</body>
</html>
