// GLOBAL
//----------------------------------------------
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.l-page{
  @include container;
}

.l-header,
.l-main,
.l-footer {
  @include clearfix;
}

// HEADER
//----------------------
.l-header {
  background: $cms-blue;
  position: relative;
  padding: 20px;

}

// NAVIGATION
//----------------------
.l-navigation {
  position: relative;
  z-index: 8;
  overflow: visible;
  //float: right;
  //@include span (last 9)
}

// MAIN
//----------------------
.l-main {
  margin-top: 40px;
  margin-bottom: 40px;
  //.not-front & {
    padding-right: 20px;
    padding-left: 20px;
  //}
}




// FOOTER
//----------------------
.l-footer {
  background: $cms-blue;
  padding: 20px;
  color: $white;

}


// BREAKPOINT MEDIUM
//----------------------------------------------
@include breakpoint($m) {


}

// BREAKPOINT LARGE
//----------------------------------------------
@include breakpoint($l) {

  // SIDEBARS
  
  
}
