<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
		<title>Formación Académica</title>
	</head>
	<body>
		<div class="l-page">
			<header class="l-header">
				<nav class="l-navigation">
					<ul class="main-menu" >
						<li><a href="index.html">Inicio</a>
						<li><a href="academicTraining.html">Formación</a></li>
						<li><a href="selfInterests.html">Intereses Personales</a></li>
						<li><a href="briefcase.php">Portafolio de Proyectos</a></li>
						<li><a href="contact.html">Contácteme</a></li>
					</ul>
				</nav>
			</header>
		
			<main class="l-main">
				<article>
					<ol>
						<li>
							<h2>Tecnológico de Costa Rica</h2>
							<a href="http://www.tec.ac.cr/">
								<img src="../../img/logo-tec.png" alt="Tecnológico de Costa Rica">
							</a>
							<p>Ingeniería en Computación</p>
							<p>Sede: Cartago</p>
							<p>Año Ingreso: 2013</p>
						</li>
						<li>
						<h2>CTP Nandayure</h2>
							<a href="https://www.facebook.com/ctp.nandayure.3?fref=ts">
								<img src="../../img/ctp-nandayure.jpg" alt="CTP Nandayure">
							</a>
							<p>Secundaria</p>
							<p>Sede: Carmona</p>
							<p>Año Ingreso: 2007</p>
						</li>
					</ol>
				</article>
			</main>
			<footer class="l-footer" >
				<p>Curso Web Verano</p>
			</footer>
		</div>
	</body>
</html>
