<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
		<title>Formación Académica</title>
	</head>
	<body>
		<div class="l-page">
			<header class="l-header">
				<nav class="l-navigation">
					<ul class="main-menu" >
						<li><a href="index.html">Inicio</a>
						<li><a href="academicTraining.html">Formación</a></li>
						<li><a href="selfInterests.html">Intereses Personales</a></li>
						<li><a href="briefcase.php">Portafolio de Proyectos</a></li>
						<li><a href="contact.html">Contácteme</a></li>
					</ul>
				</nav>
			</header>

			<main class="l-main">
				<article>
					<ul class="academic-training-list">
						<li>
							<figure class="head">
								<figcaption>
									<a href="http://www.tec.ac.cr/">
										<img src="../../img/logo-tec.png">
									</a>
								</figcaption>
								<p class="place">TEC</p>
								<p class="year">2013 - 2017</p>
							</figure>
							<div class="body">
								<p class="career">Ingeniería en Computación</p>
								<p class="state">En Curso</p>
							</div>
						</li>
						<li>
							<figure class="head">
								<figcaption>
									<a href="http://www.schoolius.com/school/807512006030415/Escuela%20Invu%20La%20Guaria">
										<img src="../../img/ctp-nandayure.jpg">
									</a>
								</figcaption>
								<p class="place">CTP Nandayure </p>
								<p class="year">2000 - 2006</p>
							</figure>
							<div class="body">
								<p class="career">Secundaria</p>
								<p class="state">Terminado</p>
							</div>
						</li>
					</ul>
				</article>
			</main>
			<footer class="l-footer" >
				<p>Curso Web Verano</p>
			</footer>
		</div>
	</body>
</html>
