<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Formación Académica</title>
	</head>
	<body>
		<header>
			<h1>Formación</h1>
		</header>
		<nav>
			<ul>
				<li><a href="index.html">Regresar</a>
				<li><a href="academicTraining.html">Formación</a></li>
				<li><a href="selfInterests.html">Intereses Personales</a></li>
				<li><a href="briefcase.html">Portafolio de Proyectos</a></li>
				<li><a href="contact.html">Contácteme</a></li>
			</ul>
		</nav>
		<main>
			<article>
				<ol>
					<li>
						<h2>Tecnológico de Costa Rica</h2>
						<a href="http://www.tec.ac.cr/">
							<img src="../../img/logo-tec.png" alt="Tecnológico de Costa Rica">
						</a>
						<p>Ingeniería en Computación</p>
						<p>Sede: Cartago</p>
						<p>Año Ingreso: 2013</p>
					</li>
					<li>
					<h2>CTP Nandayure</h2>
						<a href="https://www.facebook.com/ctp.nandayure.3?fref=ts">
							<img src="../../img/ctp-nandayure.jpg" alt="CTP Nandayure">
						</a>
						<p>Secundaria</p>
						<p>Sede: Carmona</p>
						<p>Año Ingreso: 2007</p>
					</li>
				</ol>
			</article>
		</main>
		<footer>
			<p>Curso Web Verano</p>
		</footer>
	</body>
</html>
