<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Portafolio</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
	</head>
	<body>
		<header>
			<nav class="main-menu">
				<ul>
					<li><a href="index.html">Inicio</a>
					<li><a href="academicTraining.html">Formación</a></li>
					<li><a href="selfInterests.html">Intereses Personales</a></li>
					<li><a href="briefcase.html">Portafolio de Proyectos</a></li>
					<li><a href="contact.html">Contácteme</a></li>
				</ul>
			</nav>
		</header>
		<main>
			<article>

				<section>
					<h2>Cursos Semestre Actual</h2>
					<h3>Verano 2016 - 2017</h3>
					<table border="1">
						<thead>
							<tr>
								<th>Código</th>
								<th>Nombre</th>
								<th>Profesor</th>
								<th>Horario</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>IC-B016</td>
								<td>WEB</td>
								<td>Emilia Zeledon</td>
								<td>K-M-J 1pm-5pm</td>
							</tr>
						</tbody>
					</table>
				</section>

				<section>
					<h2>Proyectos Desarrollados</h2>
					<table border="1">
						<thead>
							<tr>
								<th>Semestre</th>
								<th>Curso</th>
								<th>Nombre</th>
								<th>Resumen</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>V 2016-2017</td>
								<td>WEB</td>
								<td><a href="project.html">Portafolio</a></td>
								<td>Portafolio de proyectos realizados por el estudiante.</td>
							</tr>
						</tbody>
					</table>
				</section>

			</article>
		</main>
		<footer>
			<p>Curso Web Verano</p>
		</footer>
	</body>
</html>
