<!DOCTYPE html>
	<head>
		<meta charset="UTF-8">
		<title>Intereses Personales</title>
		<link rel="stylesheet" type="text/css" href="../../css/style.css">
	</head>
	<body>
		<div class="l-page">
			<header class="l-header">
				<nav class="l-navigation">
					<ul class="main-menu" >
						<li><a href="index.html">Inicio</a>
						<li><a href="academicTraining.html">Formación</a></li>
						<li><a href="selfInterests.html">Intereses Personales</a></li>
						<li><a href="briefcase.php">Portafolio de Proyectos</a></li>
						<li><a href="contact.html">Contácteme</a></li>
					</ul>
				</nav>
			</header>
			<main class="l-main">
				<article>
				<div class="interest-wrapper">
					<div class="interest">
					<h2>Deportes</h2>
						<img src="../../img/sports.jpg">
  					<p>Actividades deportivas</p>
					</div>

					<div class="interest">
						<h2>Aprendizaje</h2>
						<img src="../../img/books.png">
						<p>Desarrolo de software, tecnologías</p>
					</div>

					<div class="interest">
					<h2>pasatiempos</h2>
						<img src="../../img/paradise.png">
						<p>Viajar y pasar tiempo en familia y amigos</p>
					</div>

				</div>
				</article>
			</main>
			<footer class="l-footer">
				<p>Curso Web Verano</p>
			</footer>
		</div>
	</body>
</html>
